// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-login {
  padding-right: 20px;
  & .btn {
    border-radius: 10%;
    width: 80px;
  }
}

